@import "tailwindcss";

@theme inline {
  --bg: var(--bg-dark);
  --secondary: var(--secondary-dark);
  --primary: var(--primary-dark);
  --text: var(--text-dark);
  --accent: var(--accent-dark);
}

:root {
      --bg-dark: #0F172A;
      --secondary-dark: #1E293B;
      --primary-dark: #38BDF8;
      --text-dark: #F1F5F9;
      --accent-dark: #3B82F6;

      --bg-light: #F8FAFC;
      --secondary-light: #E2E8F0;
      --primary-light: #2563EB;
      --text-light: #0F172A;
      --accent-light: #3B82F6;
    }