@import "tailwindcss";

:root {
  --bg: #F8FAFC;
  --surface: #E2E8F0;
  --primary: #2563EB;
  --text: #0F172A;
  --accent: #3B82F6;
}

/* Tema oscuro */
.dark-theme {
  --bg: #0F172A;
  --surface: #1E293B;
  --primary: #38BDF8;
  --text: #F1F5F9;
  --accent: #3B82F6;
}