.skill-item svg {
  animation: fadeOut 3s forwards;
}

.skill-item:hover svg {
  animation: fadeIn 1s forwards;

}

@keyframes fadeIn {
  from {
    filter: drop-shadow(0 0 0 var(--shadow-color));
  }
  to {
    filter: drop-shadow(0 0 3rem var(--shadow-color));
  }
}

@keyframes fadeOut {
  from {
    filter: drop-shadow(0 0 3rem var(--shadow-color));
  }
  to {
    filter: drop-shadow(0 0 0 var(--shadow-color));
  }
}