@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.after\:animate-blink::after {
  animation: blink 1s step-end infinite;
}


.scrollbar-hidden {
  -ms-overflow-style: none;   /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
  -webkit-overflow-scrolling: touch; /* iOS */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}
